/* App */
.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100vw;
    height:100vh;
}
/* Canvas */
.Canvas-Container {
    display: inline-block;
    text-align: center;
    width:100vw;
    height:60vh;
}

/* inputs */
.Controller {
    text-align: center;
}
.Controller * {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    vertical-align: middle;
}
.Controller > div {
    display: inline-block;
    text-align: left;
    width: 80%;
    /* min-height: 30px; */
}
.Controller input{
    width: 80px;
    min-width: 80px;
}
.Controller input[type="button"]{
    background-color: azure;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}
.Controller input[type="button"].clicked{
    background-color: coral;
}
.Controller textarea{
    min-width: 60%;
    min-height: 30px;
}
#inputSymbols{
    border-width: 1px;
    scrollbar-width: 2px;
}

div.table{
    width: 100%;
    display: table;
}
div.table > div {
    display: table-cell;
    text-align: left;
}
